/* Dispositivos móveis: 320px — 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #header {
        height: 400px;
    }

    .navbar {
        width: auto;
        padding: 1rem;
    }

    .header-bottom h1 {
        font-size: 2rem;
    }

    .emojione-monotone--barber-pole::after {
        width: 2rem;
        height: 2rem;
    }

    .about-infos {
        flex-direction: column-reverse;
        width: 90%;
    }

    .about-infos img {
        height: 15rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    #services ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #services ul li {
        width: 70%;
    }
}

/* iPads, tablets: 481px — 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #header {
        height: 400px;
    }

    .about-infos {
        flex-direction: column-reverse;
        width: 90%;
    }

    .about-infos img {
        height: 20rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    #services ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #services ul li {
        width: 70%;
    }
}

/* Telas pequenas, laptops: 769px — 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #header {
        height: 400px;
    }

    .about-infos {
        width: 80%;
    }

    .about-infos img {
        height: 20rem;
        margin: 0;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    #services ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #services ul li {
        width: 80%;
    }
}